body{
       background-color: black;
    }

img{
  width: 100%;
  height: auto;

  
}

    @media only screen and (min-width: 430px) {
      .container {
        position:fixed;
        left: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;}

      .item-1 {width: 36.7%;}
      .item-2 {width: 32.78%;}
      .item-3 {width: 28%;}
    }

    @media only screen and (max-width: 1280px) {
      .container {
        position:fixed;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;}

      .item-1 {width: 45%;}
      .item-2 {width: 45%;}
      .item-3 {width: 45%;}
    }
    